<h2>My People</h2>
<ul class="people">
<li *ngFor="let person of people" (click)="onSelect(person)" [class.selected]="person === selectedPerson">
    <span class="badge">{{person._id | slice:-4}}</span>{{person.name.given}} {{person.name.family}}
    <button class="delete-button" (click)="deletePerson(person, $event)">Delete</button>
</li>
</ul>
<div class="error" *ngIf="error">{{error}}</div>
<button class="addPerson" (click)="addPerson()">Add New Person</button>
<div *ngIf="addingPerson">
  <my-person-detail (close)="close($event)"></my-person-detail>
</div>
<div class="selectedPerson" *ngIf="selectedPerson">
  <h2>
    {{selectedPerson.name.given | uppercase}} is my person
      <button class="viewDetailsButton" (click)="gotoDetail()">View Details</button>
  </h2>
</div>
